body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #cccccc;
  margin: 0 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}
h3
{
  font-size: 2.2rem;
}

/* Heading */
.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* container */
.container-fluid {
  padding: 7% 10%;
}
/* section */
.colored-section
{
  background-color: #1fe5bd; /*#F34747; */
  color: #fff;
}
.white-section
{
  background-color: #fff;
}
/* Navigation Bar */
.navDiv
{
  background-color: #fff;
  color: #000;
}
.navbar {
  padding: 1rem 0.5rem 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  padding-left: 7rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
  color: #cccccc;
}

.mini_interest
{
  border: 3px solid #fff;
  padding: 5%;
  border-radius: 15px;
}

/* Download Button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Ttitle_Image */
#title .container-fluid
{
  padding: 3% 15% 3%;
  text-align: left;
}
.title-image {
  width: 120%;
  /* transform: rotate(25deg); */
  position: absolute;
  border-bottom: 10px;

}

/* Feature */
#features {
  position: relative;
  z-index: 1;
}
.gotColor
{
  background-color: #1fe5bd;
}
.noColor
{
  background-color: #f9f9f9;
}

.features-box {
  padding: 2%;
}

.features-dis {
  color: #8f8f8f;
  font-size: 2rem;
}

.ficon {
  color: #1fe5bd;
  margin-bottom: 1rem;
}

.ficon:hover {
  color: #13abc4;
}

.features-title {
  font-size: 3rem;
}



/* interest form */
.interest_Form
{
  text-align: left;
  padding-left: 15%;
}
.name
{
  border-radius: 14px;
  padding: 5px;
  font-size: 1.4rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
}
.email
{
  border-radius: 14px;
  padding: 5px;
  font-size: 1.4rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size: 1.5rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Footer */
#footer
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.footer-icon {
  margin: auto 10px;
}

.copyright {
  color: grey;
  font-size: 1.4rem;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
