body {
  font-family: "Roboto";
  text-align: center;
  background-color: #cccccc;
  margin: 0 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

h3
{
  font-size: 2rem;
}

/* Heading */
.big-heading {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 600%;
  line-height: 1.5;
  margin-top: 15%;
}
.small-heading
{
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 4rem;
}
.small-head-div
{
  padding-right: 25%;

}
.btn
{
  text-align: left;
}
.pic_back
{
  background-image: url("/images/bg pic, sector 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15%;
  text-align: left;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* container */
.container-fluid {
  padding: 7% 10%;
}
/* section */
.colored-section
{
  background-color: #1fe5bd; /*#F34747; */
  color: #fff;
}
.white-section
{
  background-color: #fff;
}
/* Navigation Bar */
.navDiv
{
  background-color: #fff;
  color: #000;
}
.navbar {
  padding: 1rem 0.5rem 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.7rem;
  font-family: "Montserrat-Light";
}
.navbar-dark .navbar-nav .nav-link
{
  color: #fff;
  font-family: "Montserrat";
  font-weight: 900;
}
.mini_interest
{
  border: 3px solid #fff;
  padding: 5%;
  border-radius: 15px;
}

/* Download Button */
.download-btn {
  margin: 1% 3% 15% 0;
}
.reg
{
  background:    #1fe5bd;
  border-radius: 6px;
  padding:       8px 50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 24px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}
.tell
{
  background:    #ffffff;
  border:        1px solid #cccccc;
  border-radius: 6px;
  padding:       8px 50px;
  color:         #1fe5bd;
  display:       inline-block;
  font:          normal 700 24px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}

/* Ttitle_Image */
#title .container-fluid
{
  padding: 3% 15% 3%;
  text-align: left;
}
.title-image {
  width: 120%;
  /* transform: rotate(25deg); */
  position: absolute;
  border-bottom: 10px;

}

/* Feature */
#features {
  position: relative;
  z-index: 1;
}
.gotColor
{
  background-color: #1fe5bd;
}
.noColor
{
  background-color: #f9f9f9;
}

.features-box {
  padding: 2%;
}

.features-dis {
  color: #8f8f8f;
  font-size: 2rem;
}

.ficon {
  color: #1fe5bd;
  margin-bottom: 1rem;
}

.ficon:hover {
  color: #13abc4;
}

.features-title {
  font-size: 3rem;
}



/* interest form */
.interest_Form
{
  text-align: left;
  padding-left: 15%;
}
.name
{
  border-radius: 14px;
  padding: 5px;
  font-size: 1.4rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
}
.email
{
  border-radius: 14px;
  padding: 5px;
  font-size: 1.4rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size: 1.5rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Footer */
#footer
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.footer-icon {
  margin: auto 10px;
}

.copyright {
  color: grey;
  font-size: 1.4rem;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #1fe5bd;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
