body {
  font-family: "Lato";
  text-align: left;
}

.responsive {
  text-align: center;
  height: auto;
  max-width: 340px;
  max-height: 500px;
  margin: 10px;
  overflow: hidden;
}

/* Heading */
.big-heading {
  text-align: center;
  font-size: 3.75em;
  font-weight: 900;
  letter-spacing: 10px
  line-height: 3.875rem;
  margin: 11% 0% 0 0;
}

.comingsoon {
  text-align: center;
  margin: 5px;
  font-size: 1.5em;
  font-weight: 100;
  padding: 1px;
  /* letter-spacing:5px; */
}

.navy-heading {
  color: white;
  font-size: 3.75em;
  font-weight: 600;
  margin: 0 0 0 0;
}

.turq-heading {
  color: #202030;
  font-size: 3.75em;
  font-weight: 1000;
  margin: 0 0 0 0;
}

.small-heading {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0 50% 0 0;
}


/* container */
.container-fluid {
  padding: 3% 10%;
}

/* section */
.colored-section {
  background-color: #ffffff;
  color: #47525E;
  padding: 0 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
}


.comingsoonbanner {
  background-color: #87f0db;
  padding-top: 65px;
}

.navy-section {
  background-color: #202030;
  margin: 0 7% 0 7%;
  padding: 1%;
}

.teal-section {
  background-color: #c7f1e9;
  margin: 5% 6.5% 10% 6.5%;  
}

/* Navigation Bar */
.navbar {
  padding: 0rem 1rem 0rem 1rem;
 }

.navbar-brand {
  font-family: "Lato";
  font-size: 1.625rem;
  line-height: 2.0625rem;
  font-weight: bold;
  color: #47525E;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.7rem;
}

#cssmenu {
  width: auto;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: #47525E;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'lato';
  font-size: 1.125rem;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #2ac8a7;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last>a:after,
#cssmenu ul li:last-child>a:after {
  display: none;
}

#cssmenu ul li.active a {
  color: #47525E;
}

#cssmenu ul li.active a:before {
  width: 100%;
}

#cssmenu.align-right li.last>a:after,
#cssmenu.align-right li:last-child>a:after {
  display: block;
}

#cssmenu.align-right li:first-child a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
}

/* intro */
.intro {
  background-image: linear-gradient(rgba(253, 255, 254, 0.75), rgba(138, 236, 199, 0.75)),url("/images/HERO 1.jpg");
  background-repeat: no-repeat;
  /* margin-left: auto;
  margin-right: auto;
  width: 86%;
  margin-top: 20px; */
  background-size: cover;
  overflow: hidden;
  margin-bottom: 20px;
  color: #fff;
}

/*interested*/
.inter {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),url("/images/bubbleback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  padding: 1% 0 1% 0;
}

/* interest_Form */
.interest_Form {
  text-align: center;
  margin-bottom: 16%;
}
.name
{
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 0.3125rem;
  width: 13.4375rem;
  height: 3.125rem;
  color: #8190A5;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 3.875rem;
  text-align: left;
  padding-left: 1rem;
}
.email
{
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 0.3125rem;
  width: 13.4375rem;
  height: 3.125rem;
  color: #8190A5;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 3.875rem;
  text-align: left; 
  margin-left: 0.5rem;
  padding-left: 1rem;
}
.reg
{
  background-color: #b61839;
  border-radius: 0.3125rem;
  width: 13.4375rem;
  height: 3.125rem;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 0.3125rem 0.5rem;
}

/* maintexts */
h1 {
  color: #202030;
}

h2
{
  color: white;
  font-weight: 200;
  margin: 0 0 100px 0;
}

h3
{
  color: #202030;
  font-weight: 200;
  font-size: 1.1rem;
  text-align: center;
}
p{
  color: #8190A5;
  font-weight: 400;
}
.reg2
{
  background-color: #b61839;;
  color: #FFFFFF;
  border-radius: 0.3125rem;
  width: 13.4375rem;
  height: 3.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 5%;
}
 /* footer */
 .footer
 {
   padding: 1% 10%;
   margin-top: 1rem;
   background-color: #2cc5a5;
 }
 .copyright
 {
    color: #47525E;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 6rem;
    padding-top: 0.25rem;
 }


 /*images floating*/
.stepno1 {
  float:left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float:left;
  width: 50%;
  padding: 10%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 768px)
{
  .big-heading {
    margin: 11% 0 0 0;
    font-size: 2em;
    text-align: center;
  }

  .comingsoon {
    font-size: 1.5em;
  }

  .h3 {
    text-align: center;
  }

  .small-heading {
    margin: 0 30% 0 0;
  }

  h3 {
    margin-left: 2rem;
  }

  p {
    margin-left: 2rem;
  }

  .navy-heading {
    font-size: 2em;
    font-weight: 400;
  }

  .turq-heading {
    font-size: 2em;
    font-weight: 800;
  }

  .navywords {
    font-size: 1.5em;
  }

  .name
  {
    margin-bottom: 2%;
  }

  .email
  {
    margin-left: 0;
    margin-bottom: 2%;
  }
  .reg
  {
    margin: 0 0 2% 0;
  }
  .copyright
  {
     margin: 0 0.5rem;
  }
  
}
