body {
  font-family: "Roboto";
  text-align: center;
  background-color: #cccccc;
  margin: 0 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}


/* Heading */
.big-heading {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 500%;
  line-height: 150%;
  margin-top: 15%;
}
.small-heading
{
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10%;
  letter-spacing: 2.5px;
}
.small-head-div
{
  padding-right: 35%;

}
.btn
{
  text-align: left;
}
.pic_back
{
  background-image: url("/images/sector 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15%;
  text-align: left;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* container */
.container-fluid {
  padding: 3% 10%;
}
/* section */
.colored-section
{
  background-color: #1fe5bd; /*#F34747; */
  color: #fff;
}
.white-section
{
  background-color: #fff;
}
/* Navigation Bar */
.navDiv
{
  background-color: #fff;
  color: #000;
}
.navbar {
  padding: 1rem 0.5rem 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.7rem;
  font-family: "Montserrat-Light";
}
.navbar-dark .navbar-nav .nav-link
{
  color: #fff;
  font-family: "Montserrat";
  font-weight: 900;
}

/* Download Button */
.download-btn {
  margin: 1% 3% 10% 0;
}
.download-btn:hover
{
  background:    #CCCCCC;
}
.reg
{
  background:    #1fe5bd;
  border-radius: 6px;
  padding:       8px 50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}
.tell
{
  background:    #ffffff;
  border:        1px solid #cccccc;
  border-radius: 6px;
  padding:       8px 50px;
  color:         #1fe5bd;
  display:       inline-block;
  font:          normal 700 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   none;
}

/* Ttitle_Image */
#title .container-fluid
{
  padding: 3% 15% 3%;
  text-align: left;
}
.title-image {
  width: 120%;
  /* transform: rotate(25deg); */
  position: absolute;
  border-bottom: 10px;

}

/* how to use */
#how-to-use
{
  color: #071e3d;
}

.gotColor
{
  background-color: #f7f7f7;
  padding-top: 5%;
}
.noColor
{
  background-color: #FFFFFF;
}
 .instruction
 {
   text-align: left;
   padding-left: 17%;
 }
 .instruction2
 {
   text-align: left;
   spadding-right: 17%;
 }
 .step
 {
   font-size: 2.3em;
   letter-spacing: 0.125em;
   line-height: 150%;
 }
 .mockUp
 {
   text-align: left;
 }


/* interest form */
.name
{
  border-radius: 14px;
  padding: 5px;
  font-size: 1.4rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
}
.email
{
  border-radius: 14px;
  padding: 5px;
  font-size: 1.4rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
}
.download-btn2
{
  margin: 1% 3% 0 0;
}

/* Footer */
#footer
{

}
.footer-icon {
  margin-right: 10px;
}

.copyright {
  color: grey;
  font-size: 1rem;
}

@media (max-width: 1028px) {
  a.navbar-brand
  {
    width: 300px;
  }
  .pic_back
  {
    padding: 0 5%;
  }
  .navbar-brand
  {
    font-size: 1.5rem;
  }
.navbar-brand img
  {
    width: 20%;
    height: auto;
  }
  .big-heading
  {
    margin-top: 7%;
  }
  .instruction{
    padding-left: 5%;
  }
  .instruction2
  {
    padding-left: 5%;
  }
  img{
    width: 75%;
    height: auto;
  }
  .step
  {
    font-size: 1.3em;
    letter-spacing: 0.125em;
    line-height: 100%;
  }
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #1fe5bd;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
